.vs
*.log
*.VC.db
*.VC.opendb
ipch/
*.user
*.csproj
*.sln
~$*
Library
build
*.userprefs

/temp
/Temp
Debug/
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/obj
/Log
/Assets/Resources/Bin/battle.log.meta
/c:/
/Assets/Resources/version.txt
/Assets/Resources/version.txt.meta
/Assets/Resources/Bin.meta
/Assets/Plugins/iOS
/gamelibs/libmain_old
/*.vspx
/*.psess
